@import "tailwindcss";

/* plugins */
@plugin "daisyui";

/* light theme inspired by catppuccin latte */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #eff1f5;
  --color-base-200: #e6e9ef;
  --color-base-300: #dce0e8;
  --color-base-content: #4c4f69;
  --color-primary: #8839ef;
  --color-primary-content: #e6e9ef;
  --color-secondary: #dd7878;
  --color-secondary-content: #e6e9ef;
  --color-accent: #fe640b;
  --color-accent-content: #e6e9ef;
  --color-neutral: #4c4f69;
  --color-neutral-content: #e6e9ef;
  --color-info: #04a5e5;
  --color-info-content: #e6e9ef;
  --color-success: #40a02b;
  --color-success-content: #e6e9ef;
  --color-warning: #df8e1d;
  --color-warning-content: #e6e9ef;
  --color-error: #e64553;
  --color-error-content: #e6e9ef;
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

/* dark theme inspired by catppuccin mocha */
@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #1e1e2e;
  --color-base-200: #181825;
  --color-base-300: #11111b;
  --color-base-content: #cdd6f4;
  --color-primary: #cba6f7;
  --color-primary-content: #181825;
  --color-secondary: #f2cdcd;
  --color-secondary-content: #181825;
  --color-accent: #fab387;
  --color-accent-content: #181825;
  --color-neutral: #cdd6f4;
  --color-neutral-content: #181825;
  --color-info: #04a5e5;
  --color-info-content: #181825;
  --color-success: #a6e3a1;
  --color-success-content: #181825;
  --color-warning: #f9e2af;
  --color-warning-content: #181825;
  --color-error: #eba0ac;
  --color-error-content: #181825;
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}
