---
import Root from "@layouts/Root.astro";
---

<Root title="debarchito | Home">
  Things are moving. You probably are looking for
  <a class="underline" href="https://debarchito.is-a.dev/ddg">d'DG</a>!
</Root>
