<h1 class="font-ms-madi p-10 text-8xl text-gray-300">debarchito.</h1>

<style>
  h1 {
    text-shadow:
      0 1px 0 var(--color-primary),
      0 2px 0 var(--color-secondary),
      0 3px 0 var(--color-primary),
      0 4px 0 var(--color-accent),
      0 5px 0 var(--color-accent),
      0 6px 0 var(--color-secondary),
      0 7px 0 var(--color-secondary),
      0 8px 0 var(--color-secondary),
      0 10px 20px rgba(0, 0, 0, 0.5);
  }
</style>
