---
import { Github, Twitter, Linkedin, Mail, Info } from "@lucide/astro";
---

<div class="p-10 md:text-xl">
  Things are moving and being redesigned. You probably are looking for <a
    href="/ddg"
    class="oooh-text italic underline">d'DG!</a
  >

  <div class="alert mt-8">
    <Info />
    <span>
      Btw, this site uses <span class="oooh-text italic underline">0% JavaScript</span> and I want to
      keep it that way till the end!
    </span>
  </div>

  <div class="mt-8 flex justify-center gap-6">
    <a href="https://github.com/debarchito" class="social-icon">
      <Github size={20} />
    </a>
    <a href="https://x.com/debarchito" class="social-icon">
      <Twitter size={20} />
    </a>
    <a href="https://www.linkedin.com/in/debarchito" class="social-icon">
      <Linkedin size={20} />
    </a>
    <a href="mailto:debarchitonath@gmail.com" class="social-icon">
      <Mail size={20} />
    </a>
  </div>
</div>

<style>
  @reference "../styles/global.css";
  .oooh-text {
    text-shadow:
      0 0.7px 0 var(--color-primary),
      0 2.1px 0 var(--color-secondary),
      0 2.8px 0 var(--color-accent);
  }

  .social-icon {
    @apply transition-all duration-300 ease-in-out hover:scale-110 hover:animate-bounce;
    text-shadow: none;
  }

  .social-icon:hover {
    @apply text-primary;
  }
</style>
