<div class="p-10 md:text-xl">
  Things are moving and being redesigned. You probably are looking for <a
    href="/ddg"
    class="italic underline">d'DG!</a
  >
</div>

<style>
  a {
    text-shadow:
      0 0.7px 0 var(--color-primary),
      0 2.1px 0 var(--color-secondary),
      0 2.8px 0 var(--color-accent);
  }
</style>
