---
import { Mail, Info } from "@lucide/astro";
import Github from "@lib/components/icons/Github.astro";
import Bluesky from "@lib/components/icons/Bluesky.astro";
import Mastodon from "@lib/components/icons/Mastodon.astro";
import Codeberg from "@lib/components/icons/Codeberg.astro";
---

<div class="p-10 md:text-xl">
  Things are moving and being redesigned. You probably are looking for <a
    href="/ddg"
    class="oooh-text italic underline">d'DG!</a
  >

  <div class="alert mt-8">
    <Info />
    <span>
      Btw, this site uses <span class="oooh-text italic underline">0% JavaScript</span> and I want to
      keep it that way till the end!
    </span>
  </div>

  <div class="mt-8 flex justify-center gap-4">
    <a href="https://github.com/debarchito" class="social-icon">
      <div class="size-5">
        <Github />
      </div>
    </a>
    <a href="https://codeberg.org/debarchito" class="social-icon">
      <div class="size-[1.17rem]">
        <Codeberg />
      </div>
    </a>
    <a href="https://hachyderm.io/@debarchito" class="social-icon">
      <div class="size-5">
        <Mastodon />
      </div>
    </a>
    <a href="https://bsky.app/profile/debarchito.bsky.social" class="social-icon">
      <div class="size-5">
        <Bluesky />
      </div>
    </a>
    <a href="mailto:debarchitn@proton.me" class="social-icon">
      <Mail size={17} />
    </a>
  </div>
</div>

<style>
  @reference "@lib/styles/global.css";

  .oooh-text {
    text-shadow:
      0 0.7px 0 var(--color-primary),
      0 2.1px 0 var(--color-secondary),
      0 2.8px 0 var(--color-accent);
  }

  .social-icon {
    @apply transition-all duration-300 ease-in-out hover:scale-110;
    text-shadow: none;
  }

  .social-icon:hover {
    @apply text-primary;
  }
</style>
